<!DOCTYPE html>
<html lang="ru">
<head>
<meta charset="UTF-8">
<title>Карта</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

{% include "header.html" %}

<div class="game-container">

<div class="port-box">

<h1>🗺 Карта Карибского моря</h1>

{% for loc in locations %}
<div class="map-location">
    <b style="font-size:28px; color:#ffd700;">
    {{ loc.name }}
</b><br>
    Требуемый уровень: {{ loc.level }}<br><br>

    {% if player.level >= loc.level %}
    <a href="/travel/{{ loop.index0 }}">
        <button>⚓ Отправиться</button>
    </a>
    {% else %}
    <button disabled>🔒 Недоступно</button>
    {% endif %}
</div>
{% endfor %}

</div>
</div>

</body>
</html>