<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Порт</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>

{% include "header.html" %}

<div class="game-container">

<div class="port-box">

<p style="font-size:31px; font-weight:bold;">
    <b>Уровень:</b> {{ level }}
</p>

    </br>


    <div style="width:100%;background:#333;border-radius:8px;">
        <div style="width:{{ xp }}%;height:18px;background:dodgerblue;border-radius:8px;"></div>
    </div>

    <br>

    <div style="display:flex;justify-content:space-between;align-items:center;
font-size:28px;font-weight:bold;color:white;margin:3px 0;">
    <div style="display:flex; justify-content:space-between; align-items:center;">
    
</div>
</div>

    <br>

    <img src="{{ url_for('static', filename='images/port.jpg') }}"
         class="port-image">

    <br><br>

    <button onclick="location.href='/sea'">🌊 В море</button>
    <br><br>

    <button>⚔️ Битвы</button>
    <br><br>

    <button>👹 Монстры</button>
    <br><br>
    
    <hr style="
border:0;
height:2px;
background:#6b4b1f;
margin:20px 0;
">

    <button>🛒 Рынок</button>
    <br><br>

    <button>⚓ Верфь</button>
    <br><br>

    <button>🍺 Таверна</button>
    <br><br>

    <a href="/map">
    <button>🗺 Карта</button>
</a>

</div>
</div>

<div class="bottom-menu">

    <a href="/captain" class="bottom-btn">
        <div class="bottom-icon">👤</div>
        <div class="bottom-text">Капитан</div>
    </a>

    <a href="/fleet" class="bottom-btn">
        <div class="bottom-icon">⛵</div>
        <div class="bottom-text">Флот</div>
    </a>

</div>

<div id="online-count">
    🟢 В игре: <span id="players-online">0</span> игроков
</div>

<script>
function updateOnlineCount() {
    fetch("/online_count")
        .then(response => response.json())
        .then(data => {
            document.getElementById("players-online").textContent = data.count;
        })
        .catch(error => {
            console.log("Ошибка получения онлайна:", error);
        });
}

updateOnlineCount();
setInterval(updateOnlineCount, 10000);
</script>

</div>

</body>
</html>