<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Пираты Карибского моря</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>


<div class="register-box">

    <h1>🏴‍☠️ Пираты Карибского моря</h1>

    <img src="{{ url_for('static', filename='images/port3.jpg') }}" class="port-image">

    <h2>Регистрация капитана</h2>

    <form method="POST">

        <input
            type="text"
            name="nickname"
            placeholder="Введите имя капитана"
            required
        >

        <br><br>

<input
    type="password"
    name="password"
    placeholder="Введите пароль"
    required
>

<br><br>

<select name="gender">
    <option value="male">👨 Капитан</option>
    <option value="female">👩 Капитанша</option>
</select>

<br><br>

        <button type="submit">
            Начать приключение
        </button>

    </form>

</div>

</body>
</html>