<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title> Открытое море</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>

{% include "header.html" %}

<div class="game-container">

<div class="port-box">


<img src="{{ url_for('static', filename='images/sea.jpg') }}" class="port-image">

<div class="sea-map">

    <h2>☠️ Карта Карибского моря</h2>

    <div class="location-list">

        <div class="location">
            ☠️ <b>Пенная бухта</b>
            <small>Доступен</small>
        </div>

        <div class="location">
            ☠️ <b>Остров Черепа</b>
            <small>Требуемый уровень: 10</small>
        </div>

        <div class="location">
            ☠️ <b>Пропащие души</b>
            <small>Требуемый уровень: 20</small>
        </div>

        <div class="location">
            ☠️ <b>Логово пиратов</b>
            <small>Требуемый уровень: 20</small>
        </div>

        <div class="location">
            ☠️ <b>Сент-Китс</b>
            <small>Требуемый уровень: 35</small>
        </div>

        <div class="location">
            ☠️ <b>Ледяные острова</b>
            <small>Требуемый уровень: 35</small>
        </div>

        <div class="location">
            ☠️ <b>Сент Люсия</b>
            <small>Требуемый уровень: 45</small>
        </div>

        <div class="location">
            🏝️ <b>Тайник Дейви Джонса</b>
            <small>Требуемый уровень: 48</small>
        </div>

    </div>

</div>



    <button onclick="location.href='/port'">
        ⚓ Вернуться в порт
    </button>

</div>
</div>

</body>
</html>