<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Открытое море</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>

{% include "header.html" %}

<div class="game-container">

<div class="port-box">

<h1>Открытое море</h1>


<img src="{{ url_for('static', filename='images/sea.jpg') }}" class="port-image">

    <h1>🌊 Открытое море</h1>

    <h2>Капитан {{ nickname }}</h2>

    <div style="background:#1b1b1b;
            border:2px solid #b88b35;
            border-radius:10px;
            padding:18px;
            margin:15px 0;
            color:#ffd700;
            font-size:32px;
            font-weight:bold;
            text-align:center;">
    📍 {{ location }}
</div>

    <br><br>

    <div style="background:#1b1b1b;
                border:2px solid gold;
                border-radius:10px;
                padding:15px;
                color:white;">

        <h3>Случайное событие</h3>

        <p style="font-size:18px;">
            {{ event }}
        </p>

    </div>

    <br>

    <button onclick="location.href='/sea'">
        🌊 Продолжить плавание
    </button>

    <br><br>

    <button onclick="location.href='/port'">
        ⚓ Вернуться в порт
    </button>

</div>
</div>

</body>
</html>